*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    height: 100vh;
    width: 100vw;
    color: white;
    overflow: hidden;
}

body{
    height: 100%;
    width: 100%;
}

#first-shot{
    animation: disappear 0s ease-in 5s;
    animation-fill-mode: forwards;
}

@keyframes disappear{
    to {
        visibility: hidden;
        width: 0;
        height: 0;
      }
}

.house{
    background-image: url(./Home.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: zoom-in 5s linear;
    animation-fill-mode: forwards;
}

@keyframes zoom-in {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.9);
    }
  }

.text1{
    position: absolute;
    top: 70vh;
    left: 50vw;
    margin: 0;
    padding: 0;
}

h1{
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.sleeping{
    background-image: url(./eyes-closed.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: zoom-in 12s ease-in;
    animation-fill-mode: forwards;
    display: flex;
}

#third-shot{
    display: none;
}

.opened-eyes{
    background: url(./eyes-opened.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#fourth-shot{
    position: relative;
    top: 0;
    left: 0;
    display: none;
}

.bg{
    position: relative;
    animation: zoom-out-part 5s linear;
    animation-fill-mode: forwards;
    z-index: -1;
    top: 0;
    left: 0;
}

.robe{
    position: absolute;
    left: 50%;
    top: 1rem;
    transform: translateX(-50%);
}

@keyframes zoom-out-part{
    0%{
        scale: 3;
    }
    50%{
        scale: 2;
    }
    100%{
        scale: 1;
    }
}

#fifth-shot{
    display: none;
}

#livingroom{
    position: absolute;
    animation: slide 13s linear;
    animation-fill-mode: forwards;
    z-index: -1;
}

#kitchen{
    position: absolute;
    animation: slide2 24s linear;
    animation-fill-mode: forwards;
    z-index: -1;
}

#supermarket{
    position: absolute;
    animation: slide3 22s linear;
    animation-fill-mode: forwards;
    z-index: -1;
}

@keyframes slide{
    0%{
        left: 0;
    }

    100%{
        left: 100%;
    }
}
@keyframes slide2{
    0%{
        left: -100%;
    }

    100%{
        left: 100%;
    }
}
@keyframes slide3{
    0%{
        left: -200%;
    }

    100%{
        left: 0;
    }
}

