*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    height: 100vh;
    width: 100vw;
    color: white;
    overflow: hidden;
}

body{
    height: 100%;
    width: 100%;
}

#first-shot{
    animation: disappear 0s ease-in 5s;
    animation-fill-mode: forwards;
}

@keyframes disappear{
    to {
        visibility: hidden;
        width: 0;
        height: 0;
      }
}

.house{
    background-image: url(./Home.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: zoom-in 5s linear;
    animation-fill-mode: forwards;
}

@keyframes zoom-in {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.9);
    }
  }

.text1{
    position: absolute;
    top: 70vh;
    left: 50vw;
    margin: 0;
    padding: 0;
}

h1{
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.sleeping{
    background-image: url(./eyes-closed.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: zoom-in 12s ease-in;
    animation-fill-mode: forwards;
    display: flex;
}

#third-shot{
    display: none;
}

.opened-eyes{
    background: url(./eyes-opened.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.bg{
    position: relative;
    animation: zoom-out-part 5s linear;
    animation-fill-mode: forwards;
    z-index: -1;
    top: 0;
    left: 0;
}

.robe{
    position: absolute;
    left: 50%;
    top: 1rem;
    transform: translateX(-50%);
}

@keyframes zoom-out-part{
    0%{
        scale: 2;
    }
    50%{
        scale: 1.5;
    }
    100%{
        scale: 1;
    }
}

#fourth-shot{
    position: relative;
    top: 0;
    left: 0;
    display: none;
}

#fifth-shot{
    display: none;
}

#livingroom{
    position: absolute;
    animation: slide 6s linear;
    animation-fill-mode: forwards;
    z-index: -1;
}

#kitchen{
    position: absolute;
    animation: slide2 11s linear;
    animation-fill-mode: forwards;
    z-index: -1;
}

#supermarket{
    position: absolute;
    animation: slide3 10s linear;
    animation-fill-mode: forwards;
    z-index: -1;
}

.blured-circle{
    position: absolute;
	border-radius: 100%;
	background-color: white;		
    filter: blur(1.2vmax);
	top: 0vh;
	left: 0vw;
	width: 5vmax;
	height: 5vmax;
    animation: appear 1s linear;
    animation-delay: 9s;
    animation-fill-mode: forwards;
}

.blured-circle2{
    position: absolute;
	border-radius: 100%;
	background-color: white;		
    filter: blur(1.2vmax);
	top: 45vh;
	left: 0vw;
	width: 15vmax;
	height: 15vmax;
    animation: appear 2s linear;
    animation-delay: 9s;
    animation-fill-mode: forwards;
}

.blured-circle3{
    position: absolute;
	border-radius: 100%;
	background-color: white;		
    filter: blur(1.2vmax);
	top: 90vh;
	left: 0vw;
	width: 10vmax;
	height: 10vmax;
    animation: appear 3s linear;
    animation-delay: 9s;
    animation-fill-mode: forwards;
}

@keyframes appear{
    0%{
        scale: 0;
    }
    25%{
        scale: 5;
    }
    75%{
        scale: 0;
    }
    100%{
        scale: 5;
    }
}

@keyframes slide{
    0%{
        left: 0;
    }

    100%{
        left: 100%;
    }
}
@keyframes slide2{
    0%{
        left: -100%;
    }

    100%{
        left: 100%;
    }
}
@keyframes slide3{
    0%{
        left: -200%;
    }

    100%{
        left: 0;
    }
}

#sixth-shot{
    position: relative;
    top: 0;
    left: 0;
    display: none;
}

.clubbing{
    position: relative;
    animation: zooming-out 2s linear;
    animation-fill-mode: forwards;
    z-index: -1;
    top: 0;
    left: 0;
}

@keyframes zooming-out{
    0%{
        scale: 2;
    }
    100%{
        scale: 0.7;
    }
}

.tux{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

#seventh-shot{
    position: relative;
    top: 0;
    left: 0;
    display: none;
}

.party{
    animation: rotate 15s linear;
    z-index: -1;
    scale: 1.5;
}

@keyframes rotate{
    0% {transform: rotate(0deg);
        scale: 1;
    }
    100%{transform: rotate(90deg);
        scale: 2.5;
    }
}

#eight-shot{
    position: relative;
    top: 0;
    left: 0;
    display: none;
}

.balcony{
    animation: rotate 15s linear;
    animation-fill-mode: forwards;
    z-index: -1;
}

#ninth-shot{
    position: relative;
    top: 0;
    left: 0;
    display: none;
}

.fall{
    animation: zoom-in2 5s linear;
    animation-fill-mode: forwards;
    z-index: -1;
}

@keyframes zoom-in2 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(10);
    }
  }

#tenth-shot{
    position: relative;
    top: 0;
    left: 0;
    display: none;
}

.chick1, .chick2, .drowning, .water{
    position: absolute;
}

.chick1{
    z-index: 0;
    animation: slideV 4s linear;
    animation-fill-mode: forwards;
}

.chick2{
    z-index: 3;
    animation: slideD 8s linear;
    animation-fill-mode: forwards;
    scale: 3;
}

.drowning{
    z-index: 2;
}

.water{
    z-index: 4;
    opacity: 0.5;
}

@keyframes slideV{
    0%{
        left: 50%;
    }
    100%{
        left: -100%;
    }
}

@keyframes slideD{
    0%{
        transform: translatex(-100%) translatey(50%)
    }

    100%{
        transform: translatex(100%) translatey(-50%);
    }
}

.ocean {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 5;
  }

.bubble {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    background-color: white;
    bottom: -30px;
    opacity: 0.5;
    animation: bubble 15s ease-in-out infinite,
      sideWays 4s ease-in-out infinite alternate;
}
  
@keyframes bubble {
    0% {
      transform: translateY(0%);
      opacity: 0.06;
    }
    100% {
      transform: translateY(-120vh);
    }
}
  
@keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 200px;
    }
}
  
.bubble--1 {
    left: 10%;
    animation-delay: 0.5s;
    animation-duration: 16s;
    opacity: 0.2;
}
  
.bubble--2 {
    width: 20px;
    height: 20px;
    left: 40%;
    animation-delay: 1s;
    animation-duration: 10s;
    opacity: 0.1;
}
  
.bubble--3 {
    width: 15px;
    height: 15px;
    left: 30%;
    animation-delay: 5s;
    animation-duration: 20s;
    opacity: 0.3;
}
  
.bubble--4 {
    width: 30px;
    height: 30px;
    left: 40%;
    animation-delay: 8s;
    animation-duration: 17s;
    opacity: 0.2;
}
  
.bubble--5 {
    width: 35px;
    height: 35px;
    left: 60%;
    animation-delay: 10s;
    animation-duration: 15s;
    opacity: 0.1;
}
  
.bubble--6 {
    width: 15px;
    height: 15px;
    left: 80%;
    animation-delay: 3s;
    animation-duration: 30s;
    opacity: 0.4;
}
  
.bubble--7 {
    width: 20px;
    height: 20px;
    left: 90%;
    animation-delay: -7s;
    animation-duration: 25s;
    opacity: 0.3;
}
  
.bubble--9 {
    width: 25px;
    height: 25px;
    left: 50%;
    bottom: 30px;
    animation-delay: -5s;
    animation-duration: 19s;
    opacity: 0.2;
}
  
.bubble--10 {
    width: 45px;
    height: 45px;
    left: 30%;
    bottom: 30px;
    animation-delay: -21s;
    animation-duration: 16s;
    opacity: 0.3;
}
  
.bubble--11 {
    width: 35px;
    height: 35px;
    left: 60%;
    bottom: 30px;
    animation-delay: -13.75s;
    animation-duration: 20s;
    opacity: 0.3;
}
  
.bubble--11 {
    width: 30px;
    height: 30px;
    left: 90%;
    bottom: 30px;
    animation-delay: -10.5s;
    animation-duration: 19s;
    opacity: 0.3;
}

#eleventh-shot{
    position: relative;
    top: 0;
    left: 0;
    display: none;
}

.underwater{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.hand{
    position: absolute;
    animation: hand 5s ease-out;
    animation-fill-mode: forwards;
    z-index: 1;
}

@keyframes hand {
    0% {
      margin-top: 100%;
    }
    100% {
      margin-top: 0%;
    }
}

#twelfth-shot{
    position: relative;
    top: 0;
    left: 0;
    display: none;
}

.sunbathing{
    position: absolute;
    animation: rotate-zoom-out 8s ease-out;
    animation-fill-mode: forwards;
}

@keyframes rotate-zoom-out{
    0%{
        transform: rotate(45deg);
        scale: 5;
    }
    100%{
        transform: rotate(0deg);
        scale: 1;
    }
}
